---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Chess Position Generator.">
	<main>
		<h1 class="header">Chess Position Generator</h1>
	</main>
</Layout>

<style>
	main {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
	}
	.header {
		color: white
	}
	
</style>
